{
  "type": "service_account",
  "project_id": "твой-project-id",
  "private_key_id": "твой-private-key-id",
  "private_key": "-----BEGIN PRIVATE KEY-----\nВСТАВЬ_СЮДА_СВОЙ_КЛЮЧ\n-----END PRIVATE KEY-----\n",
  "client_email": "твой-email@project.iam.gserviceaccount.com",
  "client_id": "твой-client-id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/..."
}
